# Ignorar todo para comenzar
*

# Permitir archivos en la raíz del proyecto
!/*.py
!/*.yml
!/*.yaml
!/*.md
!/*.txt
!/.gitignore

# Ignorar específicamente estos archivos y carpetas
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.env
.venv/
*.env
*.venv
.ImagesManagement/
.vscode/
rectangles_output/
codes_output/
images_output/
debug_contours.png
source/
source_images/
images_old/
.DS_Store
Thumbs.db
*.pid
*.log
*.h5

# Ignorar todas las subcarpetas
*/

